
body {
    font-family: Arial, sans-serif;
    background-color: #cdb39a;
    text-align: center;
    padding-top: 50px;
    margin: 0;
 
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #6b4a35;
    padding: 20px;
    color: white;
    font-size: 30px ;
    position: fixed; /* ทำให้ header ปักมุด */
    top: 0; /* ติดอยู่ที่ด้านบน */
    left: 0; /* ติดอยู่ที่ด้านซ้าย */
    width: 98.1%; /* ให้ header กว้างเต็มหน้าจอ */
    z-index: 1000; /* ทำให้ header อยู่เหนือเนื้อหาทั้งหมด */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กับ header */
   
}

.container {
    max-width: 600px;
    background: #ece8da;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 0; /* ลบช่องว่างระหว่างองค์ประกอบ */
}

.logo {
    
    font-size: 55px;
    margin-bottom: 20px; /* เพิ่มช่องว่างด้านล่าง */
    font-weight: bold; /* เพิ่มให้ข้อความใน header เป็นตัวหนา */
    margin-top: 10px;
    margin-left: 37%;
    
}

h1 {
    color: #6b4226;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #7a4d23;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #407b34;
}

/* ปรับให้แสดงผลสวยงามบนมือถือ */
@media (max-width: 768px) {
    .logo {
    
        font-size: 40px;
        margin-bottom: -5px; /* เพิ่มช่องว่างด้านล่าง */
        font-weight: bold; /* เพิ่มให้ข้อความใน header เป็นตัวหนา */
        margin-top: 10px;
        margin-left: 35px;
    }

    h1 {
        color: #6b4226;
        font-size: 23px;
    }
    
    p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #cdb39a;
        text-align: center;
        padding-top: 100px;
        margin: 0;
        width: 95%;
        margin-left: 10px;
       
    }
}


.image-slider {
    position: relative;
    width: 60%;
    max-width: 600px; /* กำหนดขนาดที่เหมาะสม */
    margin: 20px auto;
    overflow: hidden; /* ซ่อนส่วนเกิน */
}

.slider-wrapper {
    display: flex;
    width: 300%; /* ต้องมีขนาด 3 เท่าของ container */
    transition: transform 1s ease-in-out;
}

.slider-image {
    width: 33.3333%; /* ใช้ 33.3333% เพื่อให้ภาพ 3 ภาพมีขนาดเท่ากัน */
    height: 280px; /* ความสูงที่เหมาะสม */
    object-fit: cover; /* ให้ภาพเต็มพื้นที่ */
}
